{% extends "site_base.html" %}
{% block main %}

<div class="page-header">
  <h1>{% block ubicacion %}{% endblock %}</h1>
</div>


<img src="{{ url_for('static', filename='fotos/' + sede + '.jpg') }}" alt="Fotografía de la sede" class="img-thumbnail pull-left" width="400px" hoight="auto">

<p class="pull-right">{% block historia %}{% endblock %}</p>

<address>
  <strong>Dirección</strong><br>
	{% block direccion %}{% endblock %}<br>
	{% block rector %}{% endblock %}<br>
  <abbr title="Teléfono">T:</abbr> {% block telefono %}{% endblock %}
</address>




{% endblock %}