{% extends "site_base.html" %}
{% block main %}


	<div class="page-header">
		<h1>Casa Central</h1>
	</div>
        <address>
          <strong>Quillota</strong><br>
          Chacabuco 550 <br>
          Rector Al Zegpi T.<br>
          <abbr title="Teléfono">T:</abbr> 033-2258598 /33-2258599
        </address>

	<div class="page-header">
        <h2>Sedes</h2>
	</div>
        <address>
          <strong>San Felipe</strong><br>
          Salinas 176<br>
          Director Fernando Bermudez D.<br>
          <abbr title="Teléfono">T:</abbr> 34 - 2518556 / 34 - 2515674
        </address>

        <address>
          <strong>San Antonio</strong><br>
          Barros Luco 2231 <br>
          Directora Laura Seron F.<br>
          <abbr title="Teléfono">T:</abbr> 35 - 353016 / 35 - 353017
        </address>

        <address>
          <strong>Los Andes</strong><br>
          Rancagua 446<br>
          Directora Claudia Rivero C.<br>
          <abbr title="Teléfono">T:</abbr> 34 - 343981 / 34 - 343982
        </address>

        <address>
          <strong>Viña del Mar</strong><br>
          Etchever 385<br>
          Directora Violeta Beraud Z.<br>
          <abbr title="Teléfono">T:</abbr> 32-2544565 / 32-2544564
        </address>


{% endblock %}
