{% extends "site_base.html" %}
{% block main %}

<div class="jumbotron">

  <div class="container">
    <h1>PRAA 2013 <span class="text-muted">/</span> 2014</h1>
    <p class="lead">Programa de Reconocimiento de Aprendizajes Adquiridos</p>
    <p><a class="btn btn-primary btn-large" href="/articulos/praa">Infórmate aquí</a></p>
    </p>
  </div>
</div>

  <div class="row">
    {% for entry in entries %}
    <div class="col-sm-4 col-md-4">
      <div class="thumbnail">
        <span class="glyphicon glyphicon-globe" style="margin-left: auto; margin-right: auto; width: 90%; font-size: 128px; text-align: center;"></span>
        <div class="caption">
          <h3>{{ entry.title }}</h3>
          <p>{{ entry.text|safe|shorten }}</p>
          <p><a href="/noticias/{{ entry.id }}" class="btn btn-default" role="button">Seguir leyendo...</a></p>
        </div>
      </div>
    </div>
  {% else %}
  <div class="col-sm-12 col-md-12">
    <div class="alert alert-warning">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <strong>No hay noticias!</strong> Ingrese como administrador para comenzar a publicar.
    </div>
  </div>

{% endfor %}
</div>

{% endblock %}
