<div class="modal fade" role="dialog" id="publish">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Publicar Noticia</h4>
      </div>
      <div class="modal-body">
        <form action="{{ url_for('add_entry') }}#nai" method="post" role="form" id="publish-form" name="publish-form">
          <div class="form-group">
            <label for="title">Título</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Título" required="required">
          </div>
          <div class="form-group">
            <label for="text">Contenido</label>
            <textarea name="text" class="form-control input-sm" rows="3" placeholder="Escriba aquí su mensaje" required="required"></textarea>
          </div>
          <button type="submit" class="btn btn-primary" id="publish-form-trigger">Publicar</button>
        </form>
      </div>
      
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->