{% extends "articulos/articles_base.html" %}

{% block title %}
Acerca de CENCO
{% endblock %}


{% block text %}
<p>CENCO fue creado y organizado de acuerdo a las normas contenidas en el dfl nº24 del año 1981, mediante decreto exento de educacion nº 1967 del 31 de octubre de 2002.</p>

<p>Con 33 años de experiencia CENCO ha logrado un espacio en el ambito nacional con carreras técnicas de nivel superior y con más de 2.800 titulados a nivel  nacional. le permiten validar la pertinencia de nuestra oferta academica y la calidad en la formación de nuestros egresados.</p>

<p>El cft CENCO  tiene su mayor compromiso con la comunidad estudiantil, sin distingo alguno, con especial enfasis en sus bajos costos y calidad docente, con un prestigio que constituye un referente nacional, el cual además beneficia a sus alumnos con importante apoyo para hacer uso del sistema de becas internas.</p>

<p>Constituyendose en un factor de desarrollo nacional, dando a gran parte de nuestra sociedad las herramientas necesarias para su participación activa dentro del hámbito social, forjando líderes de cambio a través del conocimiento y la educación superior de nivel técnico.</p>

<p>En la actualidad el centro de formación técnica CENCO, imparte las siguientes carreras:</p>

<ul>
	<li>Tecnico De Nivel Superior En Enfermeria</li>
	<li>Tecnico Nivel Superior En Arsenaleria</li>
	<li>Tecnico Nivel Superior En Podologia</li>
	<li>Tecnico De Nivel Superior En Minas</li>
	<li>Tecnico De Nivel Superior En Prevencion De Riesgos</li>
	<li>Tecnico Nivel Superior En Metalurgia</li>
	<li>Tecnico Nivel Superior En Parvulos</li>
	<li>Tecnico De Nivel Superior Juridico</li>
	<li>Tecnico De Nivel Superior En Administración De Empresas</li>
	<li>Tecnico Nivel Superior En Contabilidad</li>
</ul>
{% endblock %}