{% extends "articulos/articles_base.html" %}

{% block title %}
Acerca de CENCO
{% endblock %}


{% block text %}
<p>CENCO fue creado y organizado de acuerdo a las normas contenidas en el DFL Nº24 del año 1981, mediante Decreto Exento de Educación Nº 1967 del 31 de octubre de 2002.</p>

<p>Con 33 años de experiencia CENCO ha logrado un espacio en el ámbito nacional con carreras técnicas de nivel superior y con más de 2.800 titulados a nivel nacional, le permiten validar la pertinencia de nuestra oferta académica y la calidad en la formación de nuestros egresados.</p>

<p>CFT CENCO tiene su mayor compromiso con la comunidad estudiantil, sin distingo alguno, con especial énfasis en sus bajos costos y calidad docente, con un prestigio que constituye un referente nacional, el cual además beneficia a sus alumnos con importante apoyo para hacer uso del sistema de becas internas.</p>

<p>Constituyéndose en un factor de desarrollo nacional, dando a gran parte de nuestra sociedad las herramientas necesarias para su participación activa dentro del ámbito social, forjando líderes de cambio a través del conocimiento y la educación superior de nivel técnico.</p>

<p>En la actualidad el Centro de Formación Técnica CENCO, imparte las siguientes carreras:</p>

<ul>
	<li>Técnico De Nivel Superior En Enfermería</li>
	<li>Técnico De Nivel Superior En Arsenalería</li>
	<li>Técnico De Nivel Superior En Podología</li>
	<li>Técnico De Nivel Superior En Minas</li>
	<li>Técnico De Nivel Superior En Prevención De Riesgos</li>
	<li>Técnico De Nivel Superior En Metalurgia</li>
	<li>Técnico De Nivel Superior En Párvulos</li>
	<li>Técnico De Nivel Superior Jurídico</li>
	<li>Técnico De Nivel Superior En Administración De Empresas</li>
	<li>Técnico De Nivel Superior En Contabilidad</li>
</ul>
{% endblock %}