{% extends "articulos/articles_base.html" %}

{% block title %}
Programa de Reconocimiento de Aprendizajes Adquiridos – PRAA
{% endblock %}


{% block text %}
<p>CFT CENCO cuenta con el Programa de Reconocimientos de Aprendizajes Adquiridos – PRAA - , este consiste en un proceso de reconocimiento de estudios previos y/o experiencia laboral en el área, para acceder a este programa debes postular acreditando la siguiente documentación:</p>
<ul>
	<li>Dos semestres aprobados en cualquier carrera del área.</li>
	<li>Experiencia Laboral de a lo menos 5 años en el área </li>
	<li>Poseer titulo de educación superior en área relacionada.</li>
	<li>Poseer titulo de Técnico de Nivel Medio.</li>
	<li>Miembro activo o en retiro de las FFAA, acreditando estudios y especialización.</li>
	<li>Paramédicos con titulo reconocido por Servicio de Salud y Experiencia Laboral</li>
</ul>

<p>Carreras disponibles en este Programa</p>
<ul>
	<li>TNS en Enfermería</li>
	<li>TNS en Arsenalería</li>
	<li>TNS en Podología</li>
	<li>TNS en Prevención de Riesgos</li>
	<li>TNS en Minería</li>
	<li>TNS en Metalurgia</li>
	<li>TNS en Administración de Empresas</li>
	<li>TNS en Contabilidad</li>
	<li>TNS en Párvulos</li>
	<li>TNS en Asistente de la Educación General Básica</li>
	<li>TNS en Gastronomía (disponible en San Antonio – Los Andes y Viña del Mar)</li>
	<li>TNS Jurídico</li>
</ul>

<p>Postula en nuestras sedes y te entregamos una evaluación en 48 horas.</p>
{% endblock %}